* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* ---- */

.navbar {
  display: grid;
  position: fixed;
  z-index: 1;
  background-color: #bd0052;
  height: 80px;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  grid-template-areas: "left-side right-side";
}

.navbar a {
  text-decoration: none;
}

.navbar .left-side {
  grid-area: left-side;
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
}

.navbar .left-side p a {
  color: white;
}

.navbar .right-side {
  grid-area: right-side;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.navbar .right-side ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar .right-side ul li {
  margin-left: 20px;
}

.navbar .right-side ul li a {
  color: white;
}

.res-nav {
  display: none;
}

/* --- */

.about {
  width: 100%;
  height: 400px;
  background-color: white;
  opacity: 0.9;
  position: fixed;
  z-index: 1;
  border-radius: 20px;

  padding: 10px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin-top: 15%;
  transform: scale(0);
  transition: 1s;
  transform-origin: top;
}

.about h3 {
  margin-bottom: 20px;
  text-align: center;
}

.close-btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #bd0052;
  opacity: 1;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.close-btn p {
  color: white;
}

/* --- */

.header .jumbotron {
  display: flex;
  background-color: black;
  opacity: 0.9;
  height: 970px;
  place-items: center;
  place-content: center;
  font-family: "Ubuntu", sans-serif;
}

.text {
  color: white;
}

.intro-btn {
  display: flex;
  background-color: #bd0052;
  width: 120px;
  height: 40px;
  border-radius: 40px;
  place-items: center;
  place-content: center;
  margin-top: 20px;
}

.intro-btn a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.intro-btn:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* --- */

.skills {
  display: flex;
  justify-content: space-around;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  height: 600px;
  background-image: url(../img/pattern.png);
}

.skills h4 {
  margin-bottom: 30px;
  text-align: center;
}

.skills ul {
  list-style: none;
}

.skills ul li {
  margin-bottom: 10px;
  background-color: #bd0052;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

.skills ul li a {
  text-decoration: none;
  color: white;
}

.title {
  min-height: 60px;
}

.list-1 {
  min-height: 120px;
}

.list-2 {
  min-height: 120px;
}

/* --- */

.preview {
  text-align: center;
  background-color: black;
  padding-top: 80px;
  box-sizing: border-box;
  opacity: 0.9;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.gallery {
  display: flex;
  height: 650px;
  background-color: black;
  opacity: 0.9;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.gallery-1 {
  background-image: url(../img/project1.JPG);
  border-radius: 20px;
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.gallery-2 {
  background-image: url(../img/project2.JPG);
  border-radius: 20px;
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.gallery-3 {
  background-image: url(../img/project3.JPG);
  border-radius: 20px;
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.gallery-4 {
  background-image: url(../img/project4.JPG);
  border-radius: 20px;
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.gallery a {
  text-decoration: none;
  color: white;
  background-color: #bd0052;
  padding: 10px;
  border-radius: 5px;
}

/* --- */

.contact {
  padding-top: 40px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-color: #bd0052;
  /* background-image: url(../img/pattern.png); */
}

.socmed {
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* ================== Responsive Breakpoint ================== */

@media (max-width: 768px) {
  .navbar .right-side {
    display: none;
  }

  .burger div {
    height: 3px;
    width: 35px;
    background-color: white;
    margin: 5px;
  }

  .burger .line-satu {
    transform-origin: right;
    transition: 1s;
  }

  .burger .line-dua {
    transition: 1s;
  }

  .burger .line-tiga {
    transition: 1s;
    transform-origin: right;
  }

  .res-nav {
    display: flex;
    background-color: #bd0052;
    position: absolute;
    right: 0;
    top: 78px;
    width: 100%;
    height: 800px;
    place-content: center;
    font-family: "Ubuntu", sans-serif;
    transform: translateX(100%);
    transition: all 1s;
    text-align: center;
  }

  .res-nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 100px;
  }

  .res-nav ul li a {
    color: white;
  }
  /* --- */

  .skills {
    display: block;
    padding-bottom: 40px;
  }

  .skills ul {
    margin-left: 100px;
    margin-right: 100px;
  }

  .skills .title {
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
  }

  .skills .list-1 {
    margin-top: 40px;
  }

  .skills .list-2 {
    margin-top: 40px;
  }

  .close-btn {
    margin-top: 120px;
  }

  .about {
    margin-top: 30%;
    border-radius: 0;
  }

  /* --- */
}

@media (max-width: 1700px) {
  .preview {
    padding-top: 40px;
  }

  .gallery {
    flex-direction: column;
    height: 1200px;
  }

  .gallery-1 {
    margin-top: 60px;
    margin-bottom: 40px;
    height: 400px;
  }

  .gallery-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 400px;
  }

  .gallery-3 {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 400px;
  }

  .gallery-4 {
    margin-top: 40px;
    margin-bottom: 60px;
    height: 400px;
  }
}

/* --- */

@media (max-width: 576px) {
  .text {
    text-align: center;
    font-size: 12px;
  }

  .intro-btn {
    margin-left: 80px;
  }

  .preview {
    padding-top: 40px;
  }

  .gallery {
    flex-direction: column;
    height: 1200px;
  }

  .gallery-1 {
    margin-top: 60px;
    margin-bottom: 40px;
    height: 400px;
    width: 100%;
  }

  .gallery-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 400px;
    width: 100%;
  }

  .gallery-3 {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 400px;
    width: 100%;
  }

  .gallery-4 {
    margin-top: 40px;
    margin-bottom: 60px;
    height: 400px;
    width: 100%;
  }

  .about {
    margin-top: 30%;
    border-radius: 0;
  }

  .close-btn {
    margin-top: 80px;
  }
}

/* --- */

@media (max-height: 700px) {
  .res-nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 50px;
  }
}
